{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    {% if request.GET.command == 'verification'%} <!-- Si el comando es verification -->
        <div class="container mx-auto alert alert-info" role="alert" style="max-width: 380px; margin-top:100px;">Muchas Gracias por Registrarte, te hemos enviado un correo de verificacion a tu email: [[request.GET.email]] 
            <br><br> 
        Si ya verificaste tu cuenta puedes iniciar sesion <a href="{% url 'login' %}">Aqui</a>
        </div>
    {%else %}
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        {% include 'includes/alerts.html' %} <!-- Incluye el archivo includes/alerts.html para mostrar mensajes de alerta -->
          <div class="card-body">
          <h4 class="card-title mb-4">Login</h4>
          <form action="{% url 'login' %}" method="POST"> <!-- Formulario de inicio de sesión usamos action="{% url 'login' %}" para enviar el formularrio en metodo post -->
              {% csrf_token %} <!-- Token de seguridad para evitar ataques CSRF -->
              
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email" name="email" required>
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
              </div> <!-- form-group// -->
              
              <div class="form-group">
                  <a href="{% url 'forgotPassword' %}" class="float-right">Olvidaste tu password?</a> 
               
              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">No tienes una cuenta? <a href="{% url 'register' %}">Registrate</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    {% endif %}
    
    </section>
    <!-- ========================= SECTION CONTENT EN

{% endblock content %}